.slider__item {
  background: #f2f2f2;
  height: 100%;
  opacity: 0;
  display: flex;
  width: 1411px;
  transition: opacity 0.5s ease-in-out;
}

.slider__item.active {
  opacity: 1;
}

@media screen and (max-width: 450px) and (min-width: 375px) {
  .slider__item {
    width: 375px;
    flex-direction: column;
  }
}
