.header__menu {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
}

@media screen and (max-width: 450px) {
  .header__menu {
    gap: 0;
    justify-content: start;
    width: auto;
    margin: 0;
  }
}
