.news__date {
  position: absolute;
  top: 65px;
  right: -25px;
  background: #ffffff;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 50px;
  height: 97px;
}

@media screen and (max-width: 450px) {
  .news__date {
    width: 39px;
    height: 76px;
    right: -19px;
    top: 53px;
  }
}
