.news__day {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #292d32;
  margin-bottom: 11px;
}
