.news__day {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #292d32;
  margin-bottom: 11px;
}

@media screen and (max-width: 450px) {
  .news__day {
    font-size: 18px;
    padding: 1px;
    text-align: left;
  }
}
