.news__top-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  object-fit: contain;
  z-index: 3;
}

@media screen and (max-width: 450px) {
  .news__top-text {
    gap: 9px;
  }
}
