.slider__title {
  max-width: 446px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.18;
  color: #292d32;
  margin: 16px 0 60px;
  display: block;
  white-space: normal;
  z-index: 2;
}

@media screen and (max-width: 450px) and (min-width: 375px) {
  .slider__title {
    font-size: 30px;
    line-height: 1.17;
    margin: 5px 0 28px;
    width: 90%;
  }
}
