.header {
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 27px 0 26px;
}

@media screen and (max-width: 450px) {
  .header {
    padding: 15px 10px;
    justify-content: center;
  }
}
