.advantage__descr {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #838383;
  margin: 37px 0 41px;
}

@media screen and (max-width: 450px) {
  .advantage__descr {
    font-size: 15px;
    max-width: 330px;
    margin: 20px 0 30px;
  }
}
