.slider__scroll {
  margin-left: 263px;
  margin: 200px 108px 0 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) and (min-width: 375px) {
  .slider__scroll {
    display: none;
  }
}
