.advantage__header {
  font-family: "Euclid Circular A", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
  color: #ffffff;
  margin: 25px 0 13px;
}

@media screen and (max-width: 450px) {
  .advantage__header {
    font-size: 18px;
    margin: 15px 0 10px;
  }
}
