.contacts__header {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #838383;
}

@media screen and (max-width: 450px) {
  .contacts__header {
    font-size: 15px;
  }
}
