.slider__dots {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 1302px;
  bottom: 169px;
}

@media screen and (max-width: 450px) and (min-width: 375px) {
  .slider__dots {
    left: 177px;
    bottom: 215px;
  }
}
