.catalogue__quantity {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  color: #838383;
  margin: 0 0 5px;
}

@media screen and (max-width: 450px) {
  .catalogue__quantity {
    font-size: 15px;
    margin: 0;
  }
}
