.news__picture {
  border-radius: 45px 0px 45px 0px;
  /*   max-height: 262px;
  object-fit: fill; */
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 450px) {
  .news__picture {
    max-width: 324px;
    object-fit: cover;
  }
}
