.footer__socials {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 450px) {
  .footer__socials {
    align-self: flex-start;
    gap: 30px;
  }
}
