.slider__dot {
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
  /* Unnamed Color */
  background: #d0d0d0;

  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

.slider__dot.active {
  width: 9px;
  height: 9px;
  background: #292d32;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 450px) and (min-width: 375px) {
  .slider__dot {
    width: 3px;
    height: 3px;
  }
  .slider__dot.active {
    height: 5px;
    width: 5px;
  }
}
