.contacts__form {
  box-sizing: border-box;
  width: 434px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14px;
}

@media screen and (max-width: 450px) {
  .contacts__form {
    width: 315px;
  }
}
