.contacts__descr {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 18px 0 53px;
}

@media screen and (max-width: 450px) {
  .contacts__descr {
    font-size: 15px;
  }
}
