.slider__arrow {
  background-image: url("../../../images/slider-right-arrow.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 104px;
  height: 21px;
  z-index: 4;
  margin-left: 40px;
}

.slider__arrow:hover {
  opacity: 0.7;
  cursor: pointer;
}
